.basigx-legend-panel {
    bottom: 0 !important;
    top: auto !important;
    right: 0 !important;
}

.basigx-legend {
    margin: 3px 0 0 0;
    border: 1px solid transparent;
    border-radius: 6px;
}