$layer-slider-start-opacity: 1;
$layer-slider-end-opacity: 0.7;
$layer-slider-start-opacity-stop: 0%;
$layer-slider-end-opacity-stop: 55%;

$panel-body-background-color: white !default;

.layerSlider {
    padding: 5px 5px 5px 5px;
    margin-left: 50%;
    position: relative;
    background: #fff;
    background: linear-gradient(180deg, rgba($panel-body-background-color,$layer-slider-start-opacity) $layer-slider-start-opacity-stop, rgba($panel-body-background-color,$layer-slider-end-opacity) $layer-slider-end-opacity-stop);
}

.sliderTopTitle {
    text-align: center;
    font-weight: bold;
}

.sliderLabel {
    text-align: center;
}